replicaCount: 1

image:
  repository: 952729869933.dkr.ecr.eu-west-1.amazonaws.com/husqvarna-catalogo-2025
  tag: e1be1ccfea11fd4db4eecf56043662bd0bc14c6d
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: husqvarna-catalogo-2025.bysidecar.me
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-husqvarna-catalogo-2025-bysidecar-me
      hosts:
        - husqvarna-catalogo-2025.bysidecar.me

env:
- name: APP_ENV
  value: prod
- name: APP_SECRET
  value: 50546dcc902d9a99ff22bfbde163628c1843912a
- name: LEADS_URL
  value: https://leads.bysidecar.me/lead/store/
- name: SOUID
  value: "107"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
imagePullSecrets: []
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
resources: {}
